@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https:///fonts.googleapis.com/css?family=Montserrat');

.login{
    display: flex;
}   

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/backgroundLogin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    width: 55%;
    color: white;
}

.login-header h4{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    line-height: 1em;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.login-header h1{
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 1em;
    text-transform: uppercase;
    font-family: Quicksand, sans-serif;
    color: white;
}

.login-header p{
    width: 400px;
    margin: 32px auto 0;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-align: center;
    line-height: 1.3333333333em;
}

.login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 45%;
}

.login-main .logo{
    height: 195px;
    width: 195px;
    margin-bottom: 24px;
}

.login-main h5{
    font-size: 1.725rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    margin-bottom: 32px;
    color: #3e3f5e;
}

.login-main .btn{
    display: flex;
    align-items: center;
    box-shadow: 4px 7px 12px 0 rgba(97,93,250, .2);
    border-color: #00000000;
    text-align: left;
    color: white;
    padding: 18px 0 18px 16px;
    margin: 16px 0 8px 0;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 700;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    width: 325px;
}

.login-main .btn span{
    padding-left: 16px;
    font-size: 1rem;
}

.login-main .btn-google{
    background-color: #f00;
}

.login-main .btn-google:hover{
    background-color: #e74c3c;
}

.login-main .btn-facebook{
    background-color: #0572e6;
}

.login-main .btn-facebook:hover{
    background-color: #2986e2;
}

@media only screen and (max-width: 1350px){
    .login-header{
        display: none;
    }

    .login-main{
        background-image: url(../../assets/images/backgroundLogin.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        margin: auto auto;
        height: 100vh;
        width: 100%;
    }

    .login-main h5{
        color: white;
    }
}